html.js,
.js body {
  height: 100vh;
  overflow: hidden;
}

.pages-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.pages-nav {
  height: 50vh;
  left: 0;
  opacity: 0;
  padding: 30px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0, 150px, 0);
  transition: transform 1.2s, opacity 1.2s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  width: 100%;
}

.pages-nav--open {
  opacity: 1;
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
}

.pages-nav__item {
  padding: 0 5%;
  width: 33%;
}

.pages-nav .pages-nav__item--social {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: transform 1.2s, opacity 1.2s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  width: 100%;
}

.pages-nav--open .pages-nav__item--social {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.35s;
}

.link {
  color: var(--white);
  font-size: 0.85em;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  transition: color 0.2s;
}

.link:hover,
.link:focus,
.link--active {
  color: var(--black);
  text-decoration: none;
}

.link:not(.link--faded)::before,
.link--active::before {
  background-color: var(--black);
  content: '';
  height: 2px;
  left: 50%;
  margin: 5px 0 0 -15px;
  position: absolute;
  top: 100%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
  width: 30px;
}

.link:hover::before,
.link.link--active::before {
  transform: scale3d(1, 1, 1);
}

.link--social {
  font-size: 1.5em;
  margin: 0 0.75em;
}

.pages-stack {
  perspective: 1200px;
  perspective-origin: 50% -50%;
  pointer-events: none;
  z-index: 2;
}

.page {
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow: hidden;
  padding: 6em 5em 2em;
  pointer-events: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.pages-stack--open .page {
  cursor: pointer;
  transition: transform 0.45s, opacity 0.45s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.page--inactive {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.info {
  font-size: 0.9em;
  margin-top: 1.5em;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  left: 30px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 30px;
  width: 30px;
  z-index: 2;
}

.menu-button::before,
.menu-button::after,
.menu-button span {
  background-color: var(--green);
}

.menu-button:hover::before,
.menu-button:hover::after,
.menu-button:hover span {
  background-color: var(--gray);
}

.menu-button::before,
.menu-button::after {
  content: '';
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transition: transform 0.25s;
  width: 100%;
}

.menu-button > span {
  height: 2px;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: opacity 0.25s;
  width: 100%;
}

.menu-button__description {
  color: var(--green);
  font-weight: bold;
  position: absolute;
  right: -40px;
  top: 6px;
}

.menu-button:hover .menu-button__description {
  color: var(--gray);
}

.menu-button::before {
  transform: translate3d(0, -10px, 0) scale3d(0.8, 1, 1);
}

.menu-button::after {
  transform: translate3d(0, 10px, 0) scale3d(0.8, 1, 1);
}

.menu-button--open span,
.menu-button--open .menu-button__description {
  opacity: 0;
}

.menu-button--open::before {
  transform: rotate3d(0, 0, 1, 45deg);
}

.menu-button--open::after {
  transform: rotate3d(0, 0, 1, -45deg);
}

@media screen and (max-width: 60em) {
  .info {
    max-width: 100%;
  }
  .page {
    padding: 4em 3em 1em;
  }
  .pages-nav__item {
    min-height: 20px;
    width: 50%;
  }
  .link--page {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .link--social {
    margin: 0 0.1em;
  }
}

@media screen and (max-width: 40em) {
  .pages-nav {
    display: block;
    padding: 10px 20px 0 20px;
    text-align: left;
  }
  .page {
    padding: 1em;
  }
  .pages-nav__item {
    padding: 4px 0;
    width: 100%;
  }
  .pages-nav__item--social {
    font-size: 0.9em;
  }
  .menu-button {
    left: auto;
    right: 10px;
    top: 15px;
  }
  .info {
    font-size: 0.85em;
  }
  .menu-button__description {
    display: none;
  }
}
