*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #FFF;
  --gray: #8c8c8c;
  --black: #1d1e21;
  --green: #B0D351;
  --blue: #00ADE0;
}

body {
  background-color: var(--blue);
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--blue);
  font-weight: bold;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.header__title {
  color: var(--black);
  font-size: 2.125em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.3;
  margin: 0;
  text-transform: uppercase;
}

.wolox-logo {
  bottom: 1rem;
  left: 1rem;
  max-width: 100%;
  position: absolute;
  width: 10rem;
}

.page.page-home {
  align-items: center;
  background: var(--gray) url(../images/beach.jpeg) no-repeat center/cover;
  display: flex;
  justify-content: center;
}

.page {
  background-color: var(--white);
}

.content {
  display: flex;
  font-size: 1em;
  height: calc(100vh - 16.5em);
  line-height: 1.5;
  margin-top: 1.5em;
  overflow-y: auto;
}

.documentation {
  flex: 1;
  margin-right: 3em;
}

.examples {
  flex: 1;
}

.content-example {
  margin-bottom: 1.5em;
}

.svg-title {
  animation: shadow 1s ease-in-out 4s forwards;
  margin-bottom: 2rem;
  width: 100%;
}

@keyframes shadow {
  from {
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0));
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0));
  }
  to {
    -webkit-filter: drop-shadow(1px 1px 4px rgba(255, 255, 0, 0.9));
    filter: drop-shadow(1px 1px 4px rgba(255, 255, 0, 0.9));
  }
}

.svg-title path {
  stroke: var(--black);
  stroke-width: 1;
}

.header__desc {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  color: var(--white);
  font-size: .9rem;
  line-height: 1.5;
  padding: 1rem;
  width: 100%;
}

.header--main {
  max-width: 100%;
  width: 30rem;
}

@media screen and (max-width: 60em) {
  .content {
    flex-direction: column;
  }
  .documentation {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 40em) {
  .header {
    padding: 30px 0 0;
  }
  .header__title {
    font-size: 1.8em;
  }
  .content {
    font-size: 0.85em;
    height: calc(100vh - 18em);
  }
}
