@import './variables.css';
*, *:after, *:before {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.section {
  background-color: var(--section-bg-color);
  display: flex;
  height: 100vh;
}

.section:nth-child(even) {
  flex-direction: row-reverse;
}

.section:nth-child(2n+1) {
  --section-bg-color: var(--blue-semi-dark);
}

.section:nth-child(3n+1) {
  --section-bg-color: var(--dark-blue);
}

.section__item-img {
  background-color: var(--white);
  min-width: 50%;
  position: relative;
}

.section__item-img canvas {
  position: absolute;
}

.section__item-img img {
  display: none;
}

.section__item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section__item-title {
  color: var(--white);
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.section__item-subtitle {
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.section__item-name {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
}

.section__content {
  display: flex;
  min-width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.section__content-description {
  color: var(--white);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.link {
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  transition: color var(--transition-time) var(--transition-function);
  z-index: 1;
}

.link::after {
  background-color: var(--white);
  bottom: -0.1rem;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transform: scaleY(0.1);
  transform-origin: bottom;
  transition: transform var(--transition-time) var(--transition-function);
  width: 100%;
  z-index: -1;
}

.link:hover {
  color: var(--blue);
}

.link:hover::after {
  transform: scaleY(1);
}

@media screen and (max-width: 55rem) {
  .section, .section:nth-child(even) {
    flex-direction: column;
  }
  .section__item-title {
    font-size: 3rem;
  }
  .section__item-subtitle, .section__content-description {
    font-size: 1rem;
  }
  .section__item-name {
    font-size: 0.85rem;
  }
  .section__item-img {
    min-height: 50vh;
  }
  .section__content {
    display: block;
    overflow-y: auto;
  }
}
