body,
html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body,
.onepage-wrapper,
html {
  display: block;
  height: 100%;
  padding: 0;
  position: static;
  width: 100%;
}

.onepage-wrapper {
  display: block;
  height: 100%;
  padding: 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  width: 100%;
}

.onepage-wrapper .ops-section {
  height: 100%;
  position: relative;
  width: 100%;
}

.onepage-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
}

.onepage-pagination li {
  padding: 0;
  text-align: center;
}

.onepage-pagination li a {
  display: block;
  height: 4px;
  padding: 10px;
  width: 4px;
}

.onepage-pagination li a:before {
  background: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  content: '';
  height: 4px;
  position: absolute;
  width: 4px;
}

.onepage-pagination li a.active:before {
  background: none;
  border: 1px solid black;
  height: 10px;
  left: 8px;
  margin-top: -4px;
  width: 10px;
}

.disabled-onepage-scroll,
.disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .ops-section {
  position: relative !important;
  top: auto !important;
}

.disabled-onepage-scroll .onepage-wrapper {
  min-height: 100%;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll,
.disabled-onepage-scroll .onepage-wrapper,
html {
  position: inherit;
}
