:root {
  --white: #FFF;
  --black: #1d1e21;
  --section-bg-color: #15609b;
  --blue: #15609b;
  --blue-semi-dark: #0f456e;
  --dark-blue: #092843;
  --transition-time: 300ms;
  --transition-function: cubic-bezier(0.86, 0, 0.07, 1);
}
